
@{
    ViewBag.Title = "DurumTipiIslemleri";
    Layout = "~/Views/shared/_MainLayout.cshtml";
}

@section head{
    <link href="/Content/assets/advanced-datatable/media/css/demo_page.css" rel="stylesheet" />
    <link href="/Content/assets/advanced-datatable/media/css/demo_table.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet">
    <link href="css/style-responsive.css" rel="stylesheet" />
}

<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            @{
                if (TempData["a"] != null)
                {
                    if (TempData["b"] != null)
                    {
                        <div class="alert alert-success alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <strong>@TempData["a"]</strong>
                        </div>
                    }
                    else if (TempData["c"] != null)
                    {
                        <div class="alert alert-danger alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <strong>@TempData["a"]</strong>
                        </div>
                    }
                    else if (TempData["e"] != null)
                    {
                        <div class="alert alert-danger alert-dismissible">
                            <strong>@TempData["a"]</strong>
                            <a href="/DurumTipi/Goster/@TempData["id"]" class="btn btn-primary btn-xs pull-right">Göster</a>
                        </div>
                    }
                }
            }
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6" style="border-right:solid;">
                        <header style="margin-left:-3%;" class="panel-heading">
                            <b>Durum Tipi Listesi</b>
                        </header>
                        <div class="adv-table">
                            <table class="display table table-bordered table-striped" id="example">
                                <thead class="black white-text">
                                    <tr>
                                        <th>Durum Tipi Adı</th>
                                        <th>Düzenle</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in ViewBag.ListDurumTipi)
                                    {
                                        <tr class="gradeX">
                                            <td>@item.DurumTip</td>
                                            <td>
                                                <a href="/DurumTipi/DurumTipiDuzenle/@item.DurumTipiId" class="btn btn-primary btn-xs"><i class="icon-pencil"></i></a>
                                                <a href="/DurumTipi/DurumTipiSil/@item.DurumTipiId" class="btn btn-danger btn-xs"><i class="icon-trash"></i></a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Durum Tipi Adı</th>
                                        <th>Düzenle</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        @if (TempData["d"] == null)
                        {
                            <header style="margin-left:-3%;" class="panel-heading">
                                <b>Durum Tİpi Ekle</b>
                            </header>
                            <div>
                                <form method="post" action="/DurumTipi/DurumTipiEkle">
                                    <div class="form-group">
                                        <label>Durum Tipi Adı</label>&nbsp;<span style="color:red;">*</span>
                                        <input name="DurumTip" class="form-control" required>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" id="button" class="btn btn-info">Kaydet</button>
                                        <a href="/DurumTipi/DurumTipiIslemleri" class="btn btn-danger">İptal</a>
                                        <button type="reset" class="btn btn-default">Temizle</button>
                                    </div>
                                </form>
                            </div>
                        }
                        @if (TempData["d"] != null)
                        {
                            <header style="margin-left:-3%;" class="panel-heading">
                                <b>Durum Tipi Düzenle</b>
                            </header>
                            <div>
                                <form method="post" action="/DurumTipi/DurumTipiDuzenle">
                                    <input hidden value="@ViewBag.veri.CreatedDate" name="CreatedDate" />
                                    <input hidden value="@ViewBag.veri.DurumTipiId" name="DurumTipiId"/>
                                    <div class="form-group">
                                        <label>Durum Adı</label>&nbsp;<span style="color:red;">*</span>
                                        <input name="DurumTip" value="@ViewBag.veri.DurumTip" class="form-control" required>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" id="button1" class="btn btn-info">Güncelle</button>
                                        <a href="/DurumTipi/DurumTipiIslemleri" class="btn btn-danger">İptal</a>
                                        <button type="reset" class="btn btn-default">Temizle</button>
                                    </div>
                                </form>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>



@section script{
    <script>
        window.onload = function () {
            $('#durumTipiIslemleri').addClass('active');
        }

        $(document).ready(function () {
            $('#example').dataTable({
                "aaSorting": [[4, "desc"]]
            });
        });
    </script>

    <script type="text/javascript" language="javascript" src="/Content/assets/advanced-datatable/media/js/jquery.dataTables.js"></script>
    <script>
    window.onload = function()
    {
        $('#durumTipiIslemleri').addClass('active');
    }</script>
}




